[Unit]
Description=KVM quest configuration - no network stage
Before=network-pre.target 
Wants=network-pre.target

[Service]
ExecStart=/sbin/kvm-no-cloud-init start no-network
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
